<!doctype html>
<html lang="en">
<head>
  <% include ../views/partials/head %>
</head>
<body class="container">

  <header>
      <% include ../views/partials/header %>
  </header>

    <main>


      <div class="jumbotron">
        <h3> Welcome
          <%if(typeof(theUser)!=='undefined'){%>
          <%=theUser.username %>
          <%}%>
         </h3>
        <h4> Would You Like to List a Property?</h4>
          <form action = '/addproperty' method = "get" >
            <input type='submit' name='addproperty' value ="Add Property">
          </form>
        </div>

      <div class="jumbatron">
        <ol id=ol>
          <%var counter=0%>
          <% propAll.reverse().forEach(function (house) { %>

              <li id="<%counter%>"><%= house.location %><br>
              <%= house.description %><br>
              <%= house.startdate %><br>
              <%= house.enddate %><br>
              £<%=house.price%> per night
              <%counter +=1 %>
          <form action = '/bookproperty' method='post' >
            <input type='hidden' value="<%= house.id%>" name="houseid">
            <input type='submit' id = "<%counter%>" value = "Book <%=house.description%>">
          </form>
        </li><br>
       <% }) %>
        </ol>

      </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
</body>
</html>
